.about_header {
  font-size: 3rem;
  text-align: center;
  margin: 1rem 0rem;
}
.About_container {
  width: 90%;
  margin: 0 auto;
}
.image_res1 {
  height: 20rem;
  width: 30rem;
  border-radius: 2rem;
}
.about_child {
  display: flex;
}
.img_container {
  display: block;
  width: 100%;
}
.img_detail {
  font-size: 1.5rem;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-indent: 3rem;
  text-align: justify;
}
