.nav_header {
  height: 3rem;
  display: flex;
  background-color: rgba(0, 0, 0, 0.969);
  align-items: center;
  /* position: static; */
  z-index: 9999;
  width: 100%;
}
.logo_section {
  height: 100%;
  letter-spacing: 1px;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
}
.nav_tag {
  color: aliceblue;
  font-size: 0.9rem;
  font-weight: 400;
}
.tag {
  color: rgb(202, 202, 7);
  margin: 10px;
}
.navbar_section {
  flex: 4;
  height: 100%;
  display: flex;
  margin-right: 3rem;
}
.nav_item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1.5;
  list-style: none;
}
.nav_item > li {
  margin: 1.5rem;
}
.nav_item > li > .navLink {
  text-decoration: None;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  padding: 0.5rem 0rem;
  position: relative;
}
.navLink::after {
  content: "";
  background-color: rgb(255, 255, 255);
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: -1px;
  transition: 0.4s;
}
.navLink:hover::after {
  width: 110%;
}
/* .nav_item > li:hover {
  border-bottom: 2px solid red;
} */
.toggal-button {
  display: none;
}
@media (max-width: 880px) {
  .nav_header {
    margin-top: 0rem;
  }

  .navbar_section {
    position: absolute;
    top: 0;
    background-color: rgb(20, 20, 20);
    height: 100vh;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
  }
  .nav_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgb(1, 1, 17);
  }
  .toggal-button {
    display: block;
    height: 2rem;
    width: 3rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    color: white;
  }
  .nav_item > li > a {
    z-index: 23;
    color: rgb(178, 183, 183);
    font-size: 1.5rem;
  }
  .menu-icon {
    font-size: 2rem;
    display: none;
    color: rgb(255, 255, 255);
  }
  .active {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }
  .menu-cross {
    display: none;
  }
  .activemenu {
    display: block;
    font-size: 2rem;
  }
  .nav_tag {
    text-align: center;
  }
}

.nav_white {
  background-color: #fff;
  box-shadow: 0 0 1rem 0 black;
  margin-bottom: 5px;
}
.nav_item > li > .navLinkNav {
  color: black;
  text-decoration: none;
}

/* toggal */
/* .toggal {
  height: 20px;
  width: 40px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.toggal-button {
  height: 18px;
  width: 18px;
  z-index: 1;
  position: absolute;
  border-radius: 10px;
  right: 0;
  background-color: rgb(225, 22, 22);
  transition: all 1s ease-out;
  cursor: pointer;
} */

/* .toggal.active {
  background-color: #333;
  color: gold;
}
.toggal-button.active {
  background-color: #fff;
  transform: translateX(-20px);
} */
